{"clip": [
{
"user_id": 
= "\"#{@user._id}\""
,
"success": true
,
"track_id": 
= "\"#{@track._id}\""
,
"clip_id":
= "\"#{@clip._id}\""
,
"duration":
= "\"#{@clip.duration}\""
,
"asset_duration":
= "\"#{@clip.asset_duration}\""
,
"position":
= "\"#{@clip.position}\""
,
"waveform_url":
= "\"#{@clip.waveform_url}\""
,
"filepath":
= "\"#{@clip.filepath}\""
,
"title":
= "\"#{@clip.title}\""
} 
]}